:root {
  /* DESIGN SYSTEM */
  --color-basics-white: #ffffff;
  --color-basics-black: #000000;
  --color-neutral-neutral-50: #f7f8f8;
  --color-neutral-neutral-100: #e6e6e9;
  --color-neutral-neutral-200: #d4d5d9;
  --color-neutral-neutral-300: #bfc1c7;
  --color-neutral-neutral-400: #adb0b7;
  --color-neutral-neutral-500: #8c8f9a;
  --color-neutral-neutral-600: #666a79;
  --color-neutral-neutral-700: #404557;
  --color-neutral-neutral-800: #33394c;
  --color-neutral-neutral-900: #1a2035;
  --color-primary-primary-50: #ebefff;
  --color-primary-primary-100: #d6e0ff;
  --color-primary-primary-200: #a8bdff;
  --color-primary-primary-300: #809dff;
  --color-primary-primary-400: #527aff;
  --color-primary-primary-500: #295bff;
  --color-primary-primary-600: #0037eb;
  --color-primary-primary-700: #002ab3;
  --color-primary-primary-800: #001b75;
  --color-primary-primary-900: #000e3d;
  --color-secondary-secondary-50: #fcebff;
  --color-secondary-secondary-100: #f7d6ff;
  --color-secondary-secondary-200: #dea8ff;
  --color-secondary-secondary-300: #de80ff;
  --color-secondary-secondary-400: #d252ff;
  --color-secondary-secondary-500: #c729ff;
  --color-secondary-secondary-600: #bc00eb;
  --color-secondary-secondary-700: #8400b3;
  --color-secondary-secondary-800: #570075;
  --color-secondary-secondary-900: #26003d;
  --spacing-size-xxs: 4px;
  --spacing-size-xxs-rem: 0.25rem;
  --spacing-size-xs: 8px;
  --spacing-size-xs-rem: 0.5rem;
  --spacing-size-sm: 12px;
  --spacing-size-sm-rem: 0.75rem;
  --spacing-size-md: 16px;
  --spacing-size-md-rem: 1rem;
  --spacing-size-lg: 20px;
  --spacing-size-lg-rem: 1.25rem;
  --spacing-size-xl: 24px;
  --spacing-size-xl-rem: 1.5rem;
  --spacing-size-xxl: 28px;
  --spacing-size-xxl-rem: 1.75rem;
  --spacing-size-2xxl: 32px;
  --spacing-size-2xxl-rem: 2rem;
  --spacing-size-3xxl: 36px;
  --spacing-size-3xxl-rem: 2.25rem;
  --spacing-size-4xxl: 40px;
  --spacing-size-4xxl-rem: 2.5rem;
  --corner-corner-xxs: 4px;
  --corner-corner-xxs-rem: 0.25rem;
  --corner-corner-xs: 8px;
  --corner-corner-xs-rem: 0.5rem;
  --corner-corner-sm: 12px;
  --corner-corner-sm-rem: 0.75rem;
  --corner-corner-md: 16px;
  --corner-corner-md-rem: 1rem;
  --corner-corner-lg: 20px;
  --corner-corner-lg-rem: 1.25rem;
  --corner-corner-xl: 24px;
  --corner-corner-xl-rem: 1.5rem;
  --corner-corner-xxl: 28px;
  --corner-corner-xxl-rem: 1.75rem;
  --corner-corner-2xxl: 32px;
  --corner-corner-2xxl-rem: 2rem;
  --corner-corner-3xxl: 36px;
  --corner-corner-3xxl-rem: 2.25rem;
  --corner-corner-4xxl: 40px;
  --corner-corner-4xxl-rem: 2.5rem;
  --typography-font-size-body-font-size-xs: 12px;
  --typography-font-size-body-font-size-xs-rem: 0.75rem;
  --typography-font-size-body-font-size-sm: 16px;
  --typography-font-size-body-font-size-sm-rem: 1rem;
  --typography-font-size-body-font-size-md: 20px;
  --typography-font-size-body-font-size-md-rem: 1.25rem;
  --typography-font-size-body-font-size-lg: 24px;
  --typography-font-size-body-font-size-lg-rem: 1.5rem;
  --typography-font-size-body-font-size-xl: 28px;
  --typography-font-size-body-font-size-xl-rem: 1.75rem;
  --typography-font-size_heading-font-size-heading-md: 30px;
  --typography-font-size_heading-font-size-heading-md-rem: 1.875rem;
  --typography-font-size_heading-font-size-heading-lg: 40px;
  --typography-font-size_heading-font-size-heading-lg-rem: 2.5rem;
  --typography-font-size_heading-font-size-heading-xl: 50px;
  --typography-font-size_heading-font-size-heading-xl-rem: 3.125rem;
  --typography-family-manrope: "Manrope";
  --typography-family-raleway: "Raleway";

  /* ANTD VARAIBLES */
  --components-button-global-borderradiuslg-light: var(--border-radius-borderradiuslg);
  --components-button-global-borderradiuslg-dark: var(--border-radius-borderradiuslg);
  --components-button-component-ghostbg-light: var(--colors-neutral-transparent);
  --components-button-component-ghostbg-dark: var(--colors-neutral-transparent);
  --components-button-global-controloutline-light: var(--colors-brand-control-controloutline);
  --components-button-global-controloutline-dark: var(--colors-brand-control-controloutline);
  --components-button-component-paddinginlinesm-light: 7px;
  --components-button-component-paddinginlinesm-rem-light: 0.4375rem;
  --components-button-component-paddinginlinesm-dark: 7px;
  --components-button-component-paddinginlinesm-rem-dark: 0.4375rem;
  --components-button-global-colorerror-light: var(--colors-brand-error-colorerror);
  --components-button-global-colorerror-dark: var(--colors-brand-error-colorerror);
  --components-button-global-colorbgtextactive-light: var(--colors-neutral-bg-colorbgtextactive);
  --components-button-global-colorbgtextactive-dark: var(--colors-neutral-bg-colorbgtexthover);
  --components-button-global-linewidth-light: var(--size-line-width-linewidth);
  --components-button-global-linewidth-dark: var(--size-line-width-linewidth);
  --components-button-global-controlheight-light: var(--size-height-controlheight);
  --components-button-global-controlheight-dark: var(--size-height-controlheight);
  --components-button-component-onlyiconsize-light: var(--typography-font-size-fontsizelg);
  --components-button-component-onlyiconsize-dark: var(--typography-font-size-fontsizelg);
  --components-button-global-controlheightsm-light: var(--size-height-controlheightsm);
  --components-button-global-controlheightsm-dark: var(--size-height-controlheightsm);
  --components-button-global-colortextlightsolid-light: var(--colors-neutral-text-colortextlightsolid);
  --components-button-global-colortextlightsolid-dark: var(--colors-neutral-text-colortextlightsolid);
  --components-button-global-colorbgcontainerdisabled-light: var(--colors-neutral-bg-colorbgcontainerdisabled);
  --components-button-global-colorbgcontainerdisabled-dark: var(--colors-neutral-bg-colorbgcontainerdisabled);
  --components-button-component-texthoverbg-light: var(--colors-neutral-bg-colorbgtexthover);
  --components-button-component-texthoverbg-dark: var(--colors-neutral-bg-colorbgtexthover);
  --components-button-global-colorerrorbg-light: var(--colors-brand-error-colorerrorbg);
  --components-button-global-colorerrorbg-dark: var(--colors-brand-error-colorerrorbg);
  --components-button-global-colorprimaryhover-light: var(--colors-brand-primary-colorprimaryhover);
  --components-button-global-colorprimaryhover-dark: var(--colors-brand-primary-colorprimaryhover);
  --components-button-component-bordercolordisabled-light: var(--colors-neutral-border-colorborder);
  --components-button-component-bordercolordisabled-dark: var(--colors-neutral-border-colorborder);
  --components-button-component-dangercolor-light: var(--colors-neutral-text-colortextlightsolid);
  --components-button-component-dangercolor-dark: var(--colors-neutral-text-colortextlightsolid);
  --components-button-component-defaultbordercolor-light: var(--colors-neutral-border-colorborder);
  --components-button-component-defaultbordercolor-dark: var(--colors-neutral-border-colorborder);
  --components-button-global-colorerrorborderhover-light: var(--colors-brand-error-colorerrorborderhover);
  --components-button-global-colorerrorborderhover-dark: var(--colors-brand-error-colorerrorborderhover);
  --components-button-component-linkhoverbg-light: var(--colors-neutral-transparent);
  --components-button-component-linkhoverbg-dark: var(--colors-neutral-transparent);
  --components-button-global-borderradius-light: var(--border-radius-borderradius);
  --components-button-global-borderradius-dark: var(--border-radius-borderradius);
  --components-button-global-colortext-light: var(--colors-neutral-text-colortext);
  --components-button-global-colortext-dark: var(--colors-neutral-text-colortext);
  --components-button-global-colorprimary-light: var(--colors-brand-primary-colorprimary);
  --components-button-global-colorprimary-dark: var(--colors-brand-primary-colorprimary);
  --components-button-component-paddinginlinelg-light: 15px;
  --components-button-component-paddinginlinelg-rem-light: 0.9375rem;
  --components-button-component-paddinginlinelg-dark: 15px;
  --components-button-component-paddinginlinelg-rem-dark: 0.9375rem;
  --components-button-global-colorerrorhover-light: var(--colors-brand-error-colorerrorhover);
  --components-button-global-colorerrorhover-dark: var(--colors-brand-error-colorerrorhover);
  --components-button-component-onlyiconsizelg-light: 18px;
  --components-button-component-onlyiconsizelg-rem-light: 1.125rem;
  --components-button-component-onlyiconsizelg-dark: 18px;
  --components-button-component-onlyiconsizelg-rem-dark: 1.125rem;
  --components-button-global-colortextdisabled-light: var(--colors-neutral-text-colortextdisabled);
  --components-button-global-colortextdisabled-dark: var(--colors-neutral-text-colortextdisabled);
  --components-button-component-primarycolor-light: var(--colors-neutral-text-colortextlightsolid);
  --components-button-component-primarycolor-dark: var(--colors-neutral-text-colortextlightsolid);
  --components-button-component-defaultghostcolor-light: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-component-defaultghostcolor-dark: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-global-borderradiussm-light: var(--border-radius-borderradiussm);
  --components-button-global-borderradiussm-dark: var(--border-radius-borderradiussm);
  --components-button-global-colorerroractive-light: var(--colors-brand-error-colorerroractive);
  --components-button-global-colorerroractive-dark: var(--colors-brand-error-colorerroractive);
  --components-button-component-defaultghostbordercolor-light: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-component-defaultghostbordercolor-dark: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-component-paddinginline-light: 15px;
  --components-button-component-paddinginline-rem-light: 0.9375rem;
  --components-button-component-paddinginline-dark: 15px;
  --components-button-component-paddinginline-rem-dark: 0.9375rem;
  --components-button-component-defaultbg-light: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-component-defaultbg-dark: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-global-colorprimaryactive-light: var(--colors-brand-primary-colorprimaryactive);
  --components-button-global-colorprimaryactive-dark: var(--colors-brand-primary-colorprimaryactive);
  --components-button-global-controlheightlg-light: var(--size-height-controlheightlg);
  --components-button-global-controlheightlg-dark: var(--size-height-controlheightlg);
  --components-button-component-defaultcolor-light: var(--colors-neutral-text-colortext);
  --components-button-component-defaultcolor-dark: var(--colors-neutral-text-colortext);
  --components-button-global-colorbgcontainer-light: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-global-colorbgcontainer-dark: var(--colors-neutral-bg-colorbgcontainer);
  --components-button-global-colorerroroutline-light: var(--colors-brand-error-colorerroroutline);
  --components-button-global-colorerroroutline-dark: var(--colors-brand-error-colorerroroutline);
  --components-button-global-marginxs-light: var(--space-margin-marginxs);
  --components-button-global-marginxs-dark: var(--space-margin-marginxs);
  --components-button-global-colorborder-light: var(--colors-neutral-border-colorborder);
  --components-button-global-colorborder-dark: var(--colors-neutral-border-colorborder);
  --colors-brand-control-controltmpoutline-light: var(--colors-neutral-fill-colorfillquaternary);
  --colors-brand-control-controltmpoutline-dark: var(--colors-neutral-fill-colorfillquaternary);
  --components-button-component-onlyiconsizesm-light: 14px;
  --components-button-component-onlyiconsizesm-rem-light: 0.875rem;
  --components-button-component-onlyiconsizesm-dark: 14px;
  --components-button-component-onlyiconsizesm-rem-dark: 0.875rem;
  --colors-neutral-icon-coloricon-light: var(--colors-neutral-text-colortexttertiary);
  --colors-neutral-icon-coloricon-dark: var(--colors-neutral-text-colortexttertiary);

  /* TOKENS-HEADPHONE */
  --spacing-corner-corner-sm-light: var(--spacing-size-size-2);
  --spacing-corner-corner-sm-dark: var(--spacing-size-size-2);
  --spacing-padding-padding-xs-light: var(--spacing-size-size-1);
  --spacing-padding-padding-xs-dark: var(--spacing-size-size-1);
  --spacing-corner-corner-xl-light: var(--spacing-size-size-5);
  --spacing-corner-corner-xl-dark: var(--spacing-size-size-5);
  --color-tag-tag-label-border-light: var(--color-blue-blue-800);
  --color-tag-tag-label-border-dark: var(--color-blue-blue-100);
  --color-button-primary-btn-primary-label-light: var(--color-gray-gray-50);
  --color-button-primary-btn-primary-label-dark: var(--color-gray-gray-900);
  --color-button-group-btn-group-label-light: var(--color-gray-gray-900);
  --color-button-group-btn-group-label-dark: var(--color-gray-gray-50);
  --color-button-group-btn-group-border-light: var(--color-gray-gray-300);
  --color-button-group-btn-group-border-dark: var(--color-gray-gray-500);
  --color-basics-card-product-bg-light: var(--color-gray-gray-200);
  --color-basics-card-product-bg-dark: var(--color-gray-gray-600);
  --color-star-star-bg-light: var(--color-yellow-yellow-300);
  --color-star-star-bg-dark: var(--color-yellow-yellow-500);
  --spacing-corner-corner-xs-light: var(--spacing-size-size-1);
  --spacing-corner-corner-xs-dark: var(--spacing-size-size-1);
  --color-button-primary-btn-primary-disable-bg-light: var(--color-gray-gray-300);
  --color-button-primary-btn-primary-disable-bg-dark: var(--color-gray-gray-700);
  --color-button-primary-btn-primary-disable-label-light: var(--color-gray-gray-400);
  --color-button-primary-btn-primary-disable-label-dark: var(--color-gray-gray-600);
  --spacing-padding-padding-md-light: var(--spacing-size-size-3);
  --spacing-padding-padding-md-dark: var(--spacing-size-size-3);
  --color-button-primary-btn-primary-bg-light: var(--color-gray-gray-800);
  --color-button-primary-btn-primary-bg-dark: var(--color-gray-gray-200);
  --spacing-padding-padding-lg-light: var(--spacing-size-size-4);
  --spacing-padding-padding-lg-dark: var(--spacing-size-size-4);
  --color-basics-surface-primary-light: var(--color-gray-gray-50);
  --color-basics-surface-primary-dark: var(--color-gray-gray-800);
  --color-button-group-btn-group-bg-active-light: var(--color-purple-purple-800);
  --color-button-group-btn-group-bg-active-dark: var(--color-purple-purple-200);
  --color-text-text-primary-light: var(--color-gray-gray-800);
  --color-text-text-primary-dark: var(--color-gray-gray-100);
  --color-button-group-btn-group-label-active-light: var(--color-gray-gray-50);
  --color-button-group-btn-group-label-active-dark: var(--color-gray-gray-800);
  --color-text-text-secondary-light: var(--color-gray-gray-600);
  --color-text-text-secondary-dark: var(--color-gray-gray-300);
  --color-button-group-btn-group-bg-light: var(--color-gray-gray-100);
  --color-button-group-btn-group-bg-dark: var(--color-gray-gray-700);
  --color-text-text-danger-light: var(--color-red-red-700);
  --color-text-text-danger-dark: var(--color-red-red-200);
  --spacing-padding-padding-sm-light: var(--spacing-size-size-2);
  --spacing-padding-padding-sm-dark: var(--spacing-size-size-2);
  --color-button-primary-btn-primary-hover-bg-light: var(--color-gray-gray-600);
  --color-button-primary-btn-primary-hover-bg-dark: var(--color-gray-gray-400);
  --color-tag-tag-bg-light: var(--color-blue-blue-100);
  --color-tag-tag-bg-dark: var(--color-blue-blue-800);
  --color-text-text-success-light: var(--color-green-green-700);
  --color-text-text-success-dark: var(--color-green-green-200);
} 